h1{
text-align: center;
font-size: 28px;
color: rgb(79, 63, 86);
font-style:italic;
}
p{
  
    text-align: center;
    font-size: 24px;
    list-style-type: none;
    color: rgb(101, 79, 112);
    font-style: italic;
}
img{
    display: block;
    margin-left: auto;
        margin-right: auto;
        width: 900px;
        height: 565px;
}
audio{
    margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 15px;
}
.container{  
    display: block;
        margin-left: auto;
        margin-right: auto;
    background-color: rgb(171, 158, 188);
}
body{
    background-color: rgb(171, 158, 188);
}